*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 2px solid black;
}
.search:focus{
   outline: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    
}
.left-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 130px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: right;
    width: 100%;
    max-width: 100px;
}
.icon-item{
    align-self: center;
}
.search-bar{
   display: flex;
   flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
}
.logo{
    width: 6rem;
    /* height: 100px; */
    display: block;
   
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.indicator{
    margin-top: 2rem;
   background-color:#3F30A6;
   width: fit-content;
   border-radius: 12px;
    padding: 0.5rem 0.8rem;
    color: #fff;
    
}
.gide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0.8rem;
}
.title{
    margin-top: 2rem;
    background: rgb(118,118,252);
background: linear-gradient(90deg, rgba(118,118,252,1) 35%, rgba(167,240,255,1) 100%);
    width: fit-content;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    color: #fff;
     
}
.headset-catego img{
   position: relative;
   left: -0.8rem;
}
.access-catego img{
    position: relative;
    left: -1rem;
}
.all-categories{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    /* margin-right: 2rem; */
    padding: 0.5rem 1rem;
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: none;
}
.categ-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
    max-width: 130px;
    padding: 0.1rem 0.5rem;
}
.tv-catego img{
    position: relative;
    left: 2rem;
}
.home-catego{
    position: relative;
    left: -1rem;
}
.categ-item p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    border-radius: 12px;
}
.categ-item img{
    /* position: relative;
    top: 0;
    left: 0; */

    width: 100%;
    height: 50%;
    object-fit: cover;
}
.categ-item:hover{
    cursor: pointer;
    background: #F1F0F0;
    border: 1px solid black;
    border-radius: 12px;   
}
/* annonce styling */
.news{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* max-width: 600px; */
    padding: 0.5rem 1rem;
    border: none;
}
.big-sold{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    align-items: center;
}
.big-sold p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
}
.mini-sold{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
   gap: 1.5rem;
    padding: 0.5rem 1rem;
}
.deal-price{
    display: flex;
    flex-direction: row;
}
.deals{
    display: flex;
    flex-direction: row;
    /* justify-content: spac; */
    align-items: center;
    justify-items: center;
    width: 18rem;
    padding: 1rem 1rem;
    /* border: 1px solid black; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}
.deal-comp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20rem;
    padding: 0.5rem 1rem;
    background-color: #F1F0F0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 12px;
}
.categorie-item{
    display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 20rem;
      padding: 0.5rem 1rem;
      background-color: #F1F0F0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
}
.deal-comp:hover{
   cursor: pointer;
   background: rgb(161, 160, 243);
   background: linear-gradient(0deg, rgba(255,242,174,0) 0%, rgb(161, 160, 243)  100%);
   transition: all 0.5s ease-in-out;
   scale: 1.1;;   
}
.new-deals{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
}
.deals-sides{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    width: 100%;
    border: none;

}
.sides{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    width: 4rem;
    padding: 0.2rem;
    justify-content: center;
}
.headset-cat{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 2rem;
    gap: 5rem;
}
.headset-comp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    height: 20rem;
    padding: 0.5rem 1rem;
    background-color: #F1F0F0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    /* border: 1px solid black; */
}
.headset-comp:hover{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    scale: 1.1;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    margin-top: 2rem;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: #3F30A6;
    border-radius: 100px;
    color: #fff;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }
  .login-sec{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    width: 50%;
    height: 20rem;
    
    background-size: cover;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    border-radius: 12px ;
    margin: 3rem auto ;

  }
.login{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    height: 20rem;
    padding: 0.5rem 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    /* margin: 0 3rem ; */
}
.login-img{
  background-image: url(../image/login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 20rem;
    padding: 1rem 1rem;
    gap: 0.8rem;
    border-radius: 12px 0  0 12px;
}
.login-img h1{
    font-size: 2rem;
    font-weight: 600;
}

.log-title{
  font-size: 12px;
}
.log-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 20rem;
  padding: 0.5rem 1rem;
  /* background-color: #F1F0F0; */
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}

.login-form input{
  width: 15rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
  background-color: #fafafa;
}
.sm-btn button{
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
  background-color: #fafafa;
}
.login-method{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
  /* background-color: #F1F0F0; */
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}
.product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 20rem;
  padding: 0.5rem 1rem;
  /* background-color: #F1F0F0; */
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
  border-radius: 12px;
  margin: 3rem auto ;
}
.about-product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  /* height: 20rem; */
  padding: 0.5rem 1rem;
  /* background-color: #F1F0F0; */
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
  border-radius: 12px;
  /* margin: 3rem auto ; */
  /* border: 1px solid black; */
}
.price-btn{
  width: fit-content;
}
.info-product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 0.5rem 1rem;
  /* background-color: #F1F0F0; */
  border-radius: 12px;
}
.tobuy{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.product-img{
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}
.receipt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 25%; */
  height: 25rem;
  padding: 0.5rem 1rem;
  background-color: #F1F0F0;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
  border-radius: 12px;
  margin: 3rem auto ;
  border: 1px solid black;
}
.product-p{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
}
