<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href=""> -->
    <script src="https://kit.fontawesome.com/93e0a23dda.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/Dashbord.css">
    <link rel="stylesheet" href="../assets/build/output.css">

    
    <title>Dashbord</title>
</head>
<body>
    <section>
<div class="sidenav">
<img src="../assets/image/wtlogo.png"  alt="">
  <a href="#">Command</a>
  <a href="#">Categories</a>
  <a href="#">Products</a>
  <a href="#">Clients</a>
  <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
</div>
</section>
<section class="main">
  <!-- <div>
    <table class="clients" border="1">
      <tr>
        <th>name</th>
        <th>phone</th>
        <th>adresse</th>
        <th>city</th>
        <th>email</th>
      </tr>
      <tr>
        <td>Achchaimae</td>
        <td>06123456</td>
        <td>somewhere somehow anywhere</td>
        <td>somehow</td>
        <td>Achchaimae@gmail.com</td>
      </tr>
    </table>
  </div> -->
   
  
  
</section>
   
</body>
</html> 
